[core]
	excludesfile = /Users/dan/.gitignore
[alias]
	unstage = reset HEAD --
	br = branch
	st = status
	cob = checkout -b
	co = checkout
	cp = cherry-pick
	undo = !sh -c 'echo \"\\033[31m[$(git rev-parse --short HEAD)] $(git log -1 --pretty=%B) \\033[0m\" && read -p \"Press enter to confirm undo of this commit\n\" && git reset HEAD~1 && git status'
	
